*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;   
     background-color: blue;
     outline: none;                       

}
.container{
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;

}
.calculator{
background-color: antiquewhite;
padding: 15px;
border-radius: 30px;
display: grid;
grid-template-columns: repeat(4,65px);

}
input{
 grid-column: span 4;         
 height: 70px;
 width: 268px;
 background-color: brown;
 border-radius: 30px;
 color: black;
 font-size: 50px;
 text-align: end;
 margin: auto;
 
 margin-bottom: 30px;
 padding: 20px;

 
}
button{
          height: 48px;
          width: 48px;
          background-color: antiquewhite;
          border: none;
          border-radius: 50%;
          margin: 8px;
          font-size: 16px;
}